<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About Analyzer</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}
  <div class="container" style="width: 500px; margin: 0 auto;">
    <h1> About </h1>
    <p> I made this to support averaging overall damage/healing over more than two logs.</p>
    <h3> Disclaimer </h3>
    <p> Keep in mind that looking at overall damage / healing can be misleading due to e.g. master looting, raid leading
      etc.</p>
  </div>
  {% endblock %}
</body>

</html>